/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background-color: #1a1a1a; /* Fondo gris oscuro */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #4bb30e;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #cccccc;
}

input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    background: #333333;
    color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 5px;
    font-size: 1em;
}

input[type="number"]:focus {
    border-color: #4bb30e;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    border: 2px solid #4bb30e;
    border-radius: 5px;
    background: transparent;
    color: #4bb30e;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, transform 0.3s;
}

button:hover {
    background: #4bb30e;
    color: #1a1a1a;
    transform: scale(1.05);
}

button:active {
    background: #369e0d;
    color: #1a1a1a;
    transform: scale(0.95);
}

/* Estilo de resultados */
#resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #2a2a2a; /* Fondo gris más oscuro */
    border-radius: 5px;
    color: #ffcc00;
}

#resultado h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #4bb30e;
}

#detalle {
    font-size: 1.2em;
    color: #cccccc;
}

/* Medios responsivos */
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 15px;
    }

    h1 {
        font-size: 1.8em;
    }

    label {
        font-size: 1em;
    }

    input[type="number"] {
        font-size: 0.9em;
    }

    button {
        padding: 8px;
        font-size: 1.1em;
    }

    #resultado h2 {
        font-size: 1.3em;
    }

    #detalle {
        font-size: 1em;
    }
}
